html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/**********************************************
 BEGIN Estilos del componente de autenticación
***********************************************/
app-auth{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/**********************************************
 END Estilos del componente de autenticación
***********************************************/